.DS_Store
.vscode/settings.json
hello-world/.metals
hello-world/target
hello-world/project
hello-world/.bloop
hello-world/build.sbt
.metals
.scalafmt.conf
*.json
jan2021challenge/*.class
null/scalameta/metals/cache
feb2021challenge/*.class
mar2021challenge/*.class
TwitterDesign.class
TwitterDesign$TweetOrder.class
*.class
.idea
out/*
*.iml
